body{ 
  background-color:rgb(246,238,241);
  margin: 30px 20px 20px 30px;
  }

  .menubar {
    overflow: hidden;
    background-color: #4a7553;
  }
  
  .menubar a {
    float: center;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .menubar a:hover {
    background-color: #ffffff;
    color: #4a7553;
  }
  
  .menubar a.active {
    background-color: #04AA6D;
    color: white;
  }
  